@model Vladi2.Models.Pet

@{
    ViewBag.Title = "Stage1";
}

<h2>Step1</h2>

@using (Html.BeginForm("Stage1", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Welcome to the Shop</h4>
        <hr />

        <div class="form-group">
                <select id="petTypes">
                </select>
        </div>

        <div class="form-group">
            <select id="petNames"></select>
        </div>

        <div>
            <label>Price: </label><label id="price" class="control-label">15</label>
        </div>

        <div>
            @Html.ActionLink("Next", "Stage2")
        </div>

    </div>
}
@section scripts {
    <script src="~/scripts/scriptShop.js"></script>
}
