@model Vladi2.Models.ShoppingCert

@{
    ViewBag.Title = "Stage1";
}

<h2>Step1</h2>

@using (Html.BeginForm("Stage1", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Welcome to the Shop</h4>
        <hr />

        @Html.DropDownListFor(x => x.SelectPetType, new SelectList(Model.PetType, "Value", "Text"), "Select Pet Type")
        @Html.DropDownListFor(x => x.SelectPetName, new SelectList(Model.PetName, "Value", "Text"), "Select Pet Name")
        @Html.EditorFor(x => x.SelectPrice, new { htmlAttributes = new { @class = "form-control" } })
        <button type="button">Add</button>
        <button type="submit">Next</button>

    </div>
}
@section scripts {
    <script src="~/scripts/scriptShop.js"></script>
}