@model Vladi2.Models.Credit

@{
    ViewBag.Title = "Stage2";
}

<h2>Shop</h2>

@using (Html.BeginForm("Stage2", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

