@if (Session["LoggedUserName"] != null)
{
    <text>
    Welcome @Session["LoggedUserName"].ToString()
    </text>
}

<div>

</div>

<div class="panel panel-default">
    <div class="panel-heading">
    Welcome to our wonderful pet store!
    </div>

    <div class="panel-body">
    Here are some of the latest updates : <br/>
    1) We caught some worms and bugs yesterday at the garden - feel free to buy!<br />
    2) New fish are here!!!<br />
    </div>


</div>

@*@using (Html.BeginForm("Search", "Home"))*@

    <input type="text" id="petName" name="name"/>
    <input id="submitBtn" type="submit" value="Search" />
@*}*/*@

<div id="petsTable"></div>

@section scripts {
<script src="~/scripts/scriptHome.js"></script>
}
